body {
    background-color: #313131;
    margin-top: 100px;
}

.container {
    margin-top: 130px !important;
}

.content {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.main {
    margin: 0px 23px;
    clear: both;
}

.card {
    background-color: #545454;
    color: #fff;
    margin: 5px;
}

.card:hover {
    border: 1px solid #28df99;
}

.card-body {
    margin-top: -15px;
}

.card-image {
    height: 150px !important;
}

.card-title{
    float: left;
}

.card-fields:hover {
    color: #28df99 !important;
}

.map {
    height: 20px;
    margin-right: 10px;
}

.price {
    float: right;
    margin-top: 3px;
}

.card-text {
    clear: both;
    height: 150px;
}

.view {
    width: 45%;
}

.book {
    background-color: #28df99;
    color: #fff;
    margin-left: 10px;
    width: 50%;
    color: #000;

}
.dropdown-toggle {
    margin-left: 64px;
}

.dropdown-title {
    color: white;
}

.sorting {
    width: 122px;
}

.filter-sort-button {
    border-color: white;
}

.filter-sort-button:hover {
    border-color: #29dd99;
    color: #29dd99 !important;
}

.sort {
    float: right;
}

.searching {
    background-color: #545454;
}

.searchButton {
    float: right;
    margin-left: 27px;
    margin-right: 27px;
    margin-bottom: 15px;
}

.page {
    justify-content: center !important;
    margin-left: 45%;
    color: black !important;
    margin-top: 30px;
}

.createField {
    margin-left: 30px;
    width: 255px;
}


/* Media Query */
@media (max-width: 1024px) { 
    body {
        background-color: blue;
    }
    .main {
        margin-left: 70px;
    }
 }

@media (max-width: 500px) {
    .main {
        margin-left: 60px;
    }
}