body {
    background-color: #313131;
    margin-top: 100px;
}

.container {
    margin-top: 130px !important;
    margin-left: 8% !important;
    clear: both;
}

.content-browse {
    display: flex;
    flex-wrap: wrap;
    clear: both;
    width: 1200px;
    margin-top: 500px !important;
    
}

.main {
    margin: 0px 23px;
    clear: both;
}

.card {
    background-color: #545454;
    color: #fff;
    margin: 5px;
    height: 358px;
}

.card:hover {
    border: 1px solid #28df99;
}

.card-body {
    margin-top: -15px;
}

.card-image {
    height: 180px !important;
}

.card-title{
    float: left;
}

.card-fields:hover {
    color: #28df99 !important;
}

.map {
    height: 20px;
    margin-right: 10px;
}

.price {
    float: right;
    margin-top: 3px;
}

.card-text {
    clear: both;
    height: 150px;
}

.view {
    width: 45%;
}

.book {
    background-color: #28df99;
    color: #fff;
    margin-left: 10px;
    width: 50%;
    color: #000;

}
.dropdown-toggle {
    margin-left: 64px;
}

.dropdown-item {
    color: white;
    background-color: none;
}

.dropdown-item:hover {
    color: #29dd99;
}

.sorting {
    width: 122px;
}

.filter-sort-button {
    border-color: white;
}

.filter-sort-button:hover {
    border-color: #29dd99;
    color: #29dd99 !important;
}

.sort {
    float: right;
}

.searching {
    background-color: #545454;
}

.searchButton {
    float: right;
    margin-left: 27px;
    margin-right: 27px;
    margin-bottom: 15px;
}

.page {
    justify-content: center !important;
    margin-left: 45%;
    color: black !important;
    margin-top: 30px;
}

.createField {
    margin-left: 30px;
    width: 255px;
}


/* Media Query */
@media (max-width: 768px) { 

    .content-browse {
        width: 730px;
        padding-left: 0% !important; 
    }
 }

@media (max-width: 375px) {

    .content-browse {
        width: 300px;
        padding-left: 0% !important; 
    }

    .container {
        margin-left: 2% !important;
    }
}