.navbar {
    background-color: #313131;
}

.logo {
    height: 75px;
    width: 150px;
    margin-left: 5%;
    margin-right: 30px;
}

.nav-link {
    margin-left: 30px;
    color: white;
    font-size: 18px;
    font-weight: 500;
}

.nav-link:hover {
    color:#28df99
}

.btn-header1 {
    margin-right: 30px !important;
    margin-top: 10px !important;
    color: white !important;
    font-size: 18px;
    font-weight: 500;
}

.btn-header1:hover {
    color: #28df99 !important;
}

.btn-header2 {
    margin-right: 30px !important;
    margin-top: 10px !important;
    color: white !important;
    font-size: 18px;
    font-weight: 500;
}

.btn-header2:hover {
    color: #28df99 !important;
}

.img-button {
    margin-right: 70px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.modal-title {
   color: white;
   text-align: center;
}

.modal-body {
    background-color: #313131;
    color: white;
}

.modal-footer {
    background-color: #313131;
    color: white;
}

.label {
    color:white
}
.modal-form {
    background-color: #545454;
    border-color: #545454;
    text-decoration-color: white;
    height: 40px;
}

.submit-button {
    background-color: #28df99;
    width: 465px;
    height: 40px;
    color: #313131;
}

.para {
    text-align: center;
}

.facebook-button {
    background-color: #3b5998;
    width: 465px;
    height: 40px;
}

.crossing-button {
    color: #28df99;
}

.statement-login {
    color: #28df99;
    margin-left: 29%;
}

.statement-signup {
    color: #28df99;
    margin-left: 19%;
}

.dropdown-menu {
    background-color: #7B7B7B !important;
}

.dropdown-menu-header {
    margin-right: 200px !important;
}

.dropdown-item:hover {
    color: #28df99 !important;
    background-color: #545454 !important;
}

.passwordToogle {
    position: absolute;
    top: 295px;
    right: 30px;
    z-index: 1000;
    cursor: pointer;
}

.passwordConfirmationToogle {
    right: 30px;   
    position: absolute;
    top: 380px;
}

.passwordLogInToogle {
    position: absolute;
    right: 30px;  
    top: 203px;
}

.google-button {
    width: 465px;
    height: 40px;
}

.logIn {
    margin-top: 10px;
}

/* iPad */
@media (max-width: 768px){
    
    .btn-header1 {
        margin-left: 300px;
        margin-right: 0% !important;
    }

    .btn-header2 {
        margin-right: 70px;
    }

    .google-button {
        width: 465px;
        height: 40px;
    }

}

/* iPhone */
@media (max-width: 375px) {

    .logo {
        width: 137.19px;
        height: 67.2px;
        margin-left: 5px;
    }

    .submit-button {
        width: 325px;
        height: 38px;
    }

    .google-button {
        width: 325px;
        height: 38px;
    }

    .btn-header1 {
        margin-left: 0px !important;
        font-size: 17px;
    }

    .btn-header2 {
        margin-right: 0px !important;
        font-size: 17px;
    }

    .dropdown-toggle {
        margin-right: 5px !important;
    }
}