.button-modalbooking1 {
    align-items: flex-end;
    justify-content: flex-end;
    border-color: #29dd99;
    color: #29dd99;
    border-radius: 5%;
    margin-left: 43%;
   }
   
   .button-modalbooking1:hover {
       border-color: white;
       color: white;
   }
   
.button-modalbooking3:hover {
    border-color: white;
    color: white;
}

.submit-data {
    align-items: flex-end;
    justify-content: flex-end;
    border-color: #29dd99;
    color: #29dd99;
    border-radius: 5%;
    margin-left: 33%;
    background-color: none;
}

.submit-data:hover {
    border-color: white;
    color: white;
}

.submit-data2 {
    align-items: flex-end;
    justify-content: flex-end;
    border-color: #29dd99;
    color: #29dd99;
    border-radius: 5%;
    margin-left:10px;
    background-color: none;
}

.submit-data2:hover {
    border-color: white;
    color: white;
}

.submit-data-final {
    align-items: flex-end;
    justify-content: flex-end;
    border-color: #29dd99;
    color: #29dd99;
    border-radius: 5%;
    margin-left: 5px;
    background-color: none;
}

.submit-data-final:hover {
    border-color: white;
    color: white;
}

.date.picker {
    width: 464px;
    height: 38px;
}
.multi-option {
    color: black;
}

.success {
    text-align: center;
}

.print-button {
    border-color: #29dd99;
    color: #29dd99;
    margin-left: 29%;
}

.print-button:hover {
    border-color: white;
    color: white;
}

.modal-tiket {
    width: 630px !important;
    margin-left: 360px;
}
