.body-background {
    color: #313131;
    margin-bottom: 30px;
    
}

.feature-title {
    margin-left: 32px;
    color: white;
    font-weight: 800;
    padding-top: 30px;
}

.go-to {
    margin-left: 89%;
    font-weight: 800;
    color: white;
}

.body-card {
    width: 270px;
    height: 290px;
    background-color: #545454;
    border-color: #313131;
    border-width: 2px;
    margin-left: 3.5%;
}

.ilustration {
    width: 266px;
    height: 120px;
}

.field-name {
    color: white;
    font-weight: bolder;
    margin-left: 20px;
}

.field-price {
    color: white;
    font-weight: bold;
    margin-left: 120px;
}

.address {
    color: white;
    text-align: justify;
}

.view-button {
   width: 100px;
   height: 35px;
   background-color: #7b7b7b;
   color: white;
   margin-left: 10px;
   border-radius: 5px;
}

.book-button {
    width: 100px;
    height: 35px;
    background-color: #28df99;
    color: #313131;
    margin-left: 10px;
    border-radius: 5px;
}