.book-field-button:hover {
    background-color: none !important;
    border-color: #28df99 !important;
    color: #28df99 !important;
    font-weight: 700 !important;
    height: 50px !important;
}

.book-field-button {
    background-color: none !important;
    border-color: white!important;
    color: white !important;
    font-weight: 700 !important;
    height: 50px !important;
}

.modal-booking {
    border-radius: 10px !important;
    width: 1400px;
    margin-top: 100px;
    border-color: 5px, #28df99;
}

.modal-content {
    background-color: none !important;
}

.modal-logo img {
    margin-bottom: 5px;
}

.border-tiket {
    color: white !important;
}

@media (max-width: 768px) {
    .modal-booking {
        width: 800px;
    }
}