.bckgrnd {
    background-color: #313131;
    margin-top: -10px !important;
}

.jumbotron {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url("../../assets/img/ball.jpg") !important;
    background-size: cover;
    height: 380px;
    margin-bottom: 0 !important;
}

.title {
    color: white;
    text-align: center;
    font-size: 400%;
    margin-top: 3%;
    font-weight: 200 !important;
}

.sub-title {
    color: white;
    text-align: center;
    font-size: 200%;
}

.btn-jumb {
    margin-left: 44%;
    background-color: none !important;
    border-color: #28df99 !important;
    color: #28df99 !important;
    font-weight: bold !important;
    width: 170px;
    height: 50px;
    font-size: 24px;
    margin-top: 30px;
}

.btn-jumb:hover {
    border-color: white!important;
    color: white !important;
}

/* Ipad */
@media (max-width: 768px){
    
    .title {
        font-size: 70px;
        margin-top: 8%;
    }

    .btn-jumb {
        margin-left: 40%;
        font-size: 18px;
        width: 140px;
    }

    .btn-jumb:hover {
        border-color: white!important;
        color: white !important;
    }
}

/* Iphone */
@media (max-width:375px){

    .title {
        font-size: 30px;
        margin-top: 4%;
    }

    .jumbotron {
        height: 200px;
    }

    .btn-jumb {
        margin-left: 34%;
        width: 130px;
        height: 40px;
        size: 10%;
    }

    .btn-jumb:hover {
        border-color: white!important;
        color: white !important;
    }
}